.jumbotron{
    background-image: url("../img/ron-fung--DKg_C-hl_c-unsplash.jpg");
    background-size: cover;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 30px;
}