#blocCouleur{
    position: relative;
    margin-top: 1%;
    width: 163px;
    height: 163px;
    background-color: rgb(228, 183, 213);
}
#blocCouleur, #btns,label{
    margin:1% 2%;
}
#carreau{
    position:absolute;
    width: 50px;
    height: 50px;
    background-color: red;
}