[class^="btn"]{
    margin-top: 1%;
    margin-bottom: 1%;
}
div{
    margin-left: 1%;
    margin-right: 1%;
}
#allMontant, #bonusM{
    display: none;
    margin-left:2%;
}
h4{
text-align: center;
}


