form{
    width: 220px;
    margin: auto;
}
input[type=text]{
    width: 190px;
}

input[type=button]{
    margin-top: 2%;
}
#ens{
    position: relative;
    border: 1px solid rgb(98, 156, 190);
    width: 220px;
    height:220px;
    background-color: rgb(127, 183, 216);
    border-radius: 50%;
    box-shadow: 5px 10px 8px #b2b8ca;
}
#conteneur{
    position: absolute;
    top: 45px;
    left:14px;
}
 #info{
     text-align: center;
     visibility: hidden;
     color: white;
 }
 #chronometreAffiche{
     text-align: right;
 }