form{
    width:404px;
    margin: auto;
}
input[type=button]{
    margin-top: 1%;
    margin-bottom: 2%;
}

#info{
    text-align: center;
    color: rgb(11, 73, 5);
}
#myTable{
    display: none;
}
#msgErreur{
    color: tomato;
    display: none;
}