html {
    height: 100%;
     margin: 0;
     background-image: url(images/black.jpg);
      height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
}


.panneauConnexion {
    border-radius: 25px;
    
    background-color:rgba(102,102,102,0.9);
    
    padding: 20px; 
    width: 600px;   
    height:350px;
    margin: auto;
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
        
}
* {
  box-sizing: border-box;
  height: 30px;
    padding: 1px; 
}

h1{
     text-align: center;
    
     font-family: 'Cinzel Decorative', cursive;
     color:white;
    

}
h3{
   
   font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; 
    color: palevioletred;
}
  


label {
  padding: 12px 12px 12px 0;
  
  font-family:font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 24px; 
  color:white;
  
}
.colonne1{
  float: left;
    
  width: 30%;
  
  margin-top: 12px;
}
.colonne2{
  float: left;
  width: 70%;
  
  margin-top: 12px;
}
.ligne:after{
  content: "";
  display: table;
  clear: both;
}


#utilisateur,pass{
    width: 100%;
    
 
}
.creaCompte{
  font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 16px;
    color: white;
}

.creaCompte:hover{
   color: blue;
}

input[type=submit]{
  background-color: #336666;
  color: white;
  font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 17px;
  width: 30%;
  padding: 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
}

 input{
     background-color: peachpuff;
  border-bottom-width: 5px;      
   border-bottom-color: palevioletred;
}





#bouton:hover{
    background-color: #669966;
}
 