html {
    height: 100%;
     margin: 0;
     background-image: url(images/black.jpg);
      height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
}


.panneauInscription {
    border-radius: 25px;
    
    background-color:rgba(102,102,102,0.9);
    
    padding: 20px; 
    width: 80%;   
    height:80%;
    margin: auto;
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
        
}

h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:auto;
     color:white;
}

ul {
  float: right;
  border-radius: 50px;
  list-style-type: none;
  margin: 0;
  padding:2;
  width: 65%;
  background-color:rgba(255,255,255,0.7);
  height:79%;
  overflow: auto;
  text-align: left;
border-style: dotted;
    color: white;

}

li a {
  display: block;
  color: #000;
  width: auto;
  height: auto;
  padding: 5% 1%;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size:20px;
  color: black;
    border-style:outset;
     border-color: transparent;
}


li a:hover {
  background-color: white;
 border-radius: 20px;
  border-color: lightslategrey;
  
}

