html {
    height: 100%;
     margin: 0;
     background-image: url(images/black.jpg);
      height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
}



.panneauInscription {
    border-radius: 25px;
    
    background-color:rgba(102,102,102,0.9);
    
    padding: 20px; 
    width: 80%;   
    height:80%;
    margin: auto;
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
        
}

h2{
    font-family: 'Cinzel Decorative', cursive;
    font-size:auto;
     color:white;
}

nav{
  width: 100%;
}

li{
list-style-type: none;
margin: 10px 12px;
font-size: 100%;

}

ul{
  margin: 0;
  padding: 0;
  display: flex;
}

li>a:hover{
  color:blue;
}

a{
color: white;
}

table{
    width: 100%;
    
   
   
}
th{
    color: white;
    padding: 10px 2px;
}
tr{
    text-align: left;
   
}
td{
    width: 20%;
    border-bottom-style:solid;
    border-style: 2px;
    border-bottom-color: grey;
}
#new{
  font-weight:bold;
}
img{
width: 50%;
}
fieldset{
    height: 80%;
}