html {
    height: 100%;
     margin: 0;
     background-image: url(images/black.jpg);
      height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
}


.panneauMessage {
  border-radius: 25px;
    
    background-color:rgba(102,102,102,0.9);
    
    padding: 20px; 
    width: 80%;   
    height:80%;
    margin: auto;
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
        
}


legend{
   
     font-family: 'Cinzel Decorative', cursive;
     color:white;
     padding: 3px 6px;
}

fieldset{
    height: 97%;
    max-width: 100%;
    max-height: 100%;
}


.colonne1{
float: left;
width: 5%;
text-align: left;
margin: 1%;
}
.colonne2{
  float: left;
  width: 90%;
  
  margin-top: 12px;
}

.ligne:after{
  content: "";
  display: table;
  clear: both;
}

.colonne1,colonne2,ligne,label,input{
    box-sizing: border-box;
    height: 30px;
    padding: 1px; 
    
}
input{
    width: 100%;
}

label{
    width: 1%;
    padding: 1% px; 
    color: white;
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
}

textarea {
    width: 96.6% ;
    height: 70%;
    max-width: 100%;
    resize: none;
}


input[type=button]{
  background-color: #336666;
  color: white;
  font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 17px;  
  width: 10%;
    outline: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
  max-width: 100%;
    max-height: 100%;
}

#bouton:hover{
    background-color: #669966;
}
 