html {
    height: 100%;
     margin: 0;
     background-image: url(images/black.jpg);
      height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
    
}


.panneauInscription {
    border-radius: 25px;
    
    background-color:rgba(102,102,102,0.9);
    
    padding: 20px; 
    width: 750px;   
    height:110px;
    margin: auto;
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
        
}


legend{
   
     font-family: 'Cinzel Decorative', cursive;
     color:white;
     padding: 3px 6px;
}


 
p{
    font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    color: white;
    text-align: center;
}

.colonne1{
  float: left;
 width: 30%;
 
}
.colonne2{
  float: left;
  width: 70%;
  
  margin-top: 12px;
}
.ligne:after{
  content: "";
  display: table;
  clear: both;
}

a{
  font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 16px;
  color: white;
}

a:hover{
   color: blue;
}
input[type=button]{
  background-color: #336666;
  color: white;
  font-family:Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
  font-size: 17px;
  width: 30%;
  padding: 1%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.9);
}

#bouton:hover{
    background-color: #669966;
}
 