body {
    background-image: url(img/matt-hoffman-Q0AM87PsYkE-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    color: #ffffff;
    position: align-center;
}


table{
	font-size : 1em;
	margin : 2em;
	 color : white;
	
}

label {
    font-size: 18px;
    color: #ffffff;
}

btnable {
    vertical-align: middle;
    align-self: stretch;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-variant: normal;
    background-color: rgba(89, 172, 179, 0.59);
    border-radius: 11px;
    color: #ffffff;
    float: middle;
    border-left-style: none;
    border-right-style: none;
}

.container {
    box-sizing: border-box;
    padding: 20px;
    width: 1200px;
    height: 650px;
    margin: auto;
    background-color: rgba(8, 55, 36, 0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
  
}

form {
    height: 590px;
    width: 1152px;
    align-self: stretch;
    margin-top: 36px;
}

input[type=text] {
    width: 300px;
}

button {
    vertical-align: middle;
    align-self: stretch;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-variant: normal;
    background-color: rgba(89, 172, 179, 0.59);
    border-radius: 11px;
    color: #ffffff;
    float: middle;
    border-left-style: none;
    border-right-style: none;
}