body {
    background-image: url(img/etienne-boulanger-mDOao83l1iU-unsplash.jpg);
    background-image: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}

div {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

flex-container {
    flex-grow: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 20px;
    width: 600px;
    height: 350px;
    margin: auto;
    position: absolute;
    background-color: rgba(10, 33, 65,0.78);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 23px;
    justify-content: center;
}

form {
    height: 350;
}

label {
    padding: 12px 12px 12px 0;
    font-family: font-family;
    font-size: 24px;
    color: white;
    text-align: center;
    right: 0px;
}

button {
    vertical-align: middle;
    align-self: stretch;
    height: 40px;
    font-size: 20px;
    font-variant: normal;
    background-color: rgba(79, 107, 155, 0.81);
    border-radius: 11px;
    color: #ffffff;
    border-left-style: none;
    border-right-style: none;
    width: 400px;
    bottom: 0px;
    z-index: 0;
    clear: left;
}

#labelInfo {
    font-size: 37px;
    line-height: 81px;
    right: 0px;
}