nav{
	padding: 0; 
	margin-left: 10em;
	width: 80%;
	margin-bottom: 1em;	
	color : white;
}


nav a:hover{
	border: rgba(8, 55, 36, 0.78); solid .1em;
	background: rgba(20, 104, 70, 0.78);
	border: rgba(8, 55, 36, 0.78); solid .1em;
	border-radius: 4px; 
	text-decoration: none ;
	color : white;
}
nav ul {
list-style-position:0;
list-style:none;
margin: : 0;
padding: 0;
}

nav li {
  display: inline-block ;
   text-decoration: none ;
}
nav li a {
  color : white;
  border: rgba(127, 137, 153,0.4) solid .1em;
	background:rgba(8, 55, 36, 0.78);
  line-height: .1em ;
  text-decoration: none ;
  padding: .6em ;
  
}