*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
h4{
    font-size: 5rem;
    font-weight: 50;
    margin: 1rem 0 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Great Vibes', cursive;

}
#entreUtilisateur{
    background: none;
    border: none;
    color: rgb(88, 171, 173);
}
.inputUserListe{
    background: none;
    border: none;
    color: rgb(88, 171, 173);
    margin-top:2%;
}
#liste{
    width: 600px;
    margin: auto;
    background-color: rgb(250, 236, 250);
    border-radius: 5px;
}
th{
    color: rgb(88, 171, 173);
}

.btn btn-outline-secondary{
    float: right;
}

.texteBarre{
    text-decoration: line-through;
}
.btn {
    float: right;
    margin-top: 1%;
}