#boite1{
    height: 250px;
    width: 250px;
    background-color: red;
    border : 3px solid blue;
}

#boite2{
    position:absolute;
    margin-top: -220px;
    margin-left: 30px;
    height: 170px;
    width: 170px;
    background-color: blue;
    border : 3px solid white;
}

#boite3{
    position: relative;
    margin-top: -150px;
    margin-left: 50px;
    height: 240px;
    width: 240px;
    background-color: yellow;
    border : 3px solid red;
}

#boite4{
    position: absolute;
    height: 110px;
    width: 120px;
    background-color: gold;
    border : 3px solid green;
    margin-top:60px;
    margin-left: 40px;
    z-index: 2;
}

#boite5{
    position: absolute;
    height: 120px;
    width: 140px;
    background-color: greenyellow;
    border : 3px solid blue;
    margin-top:90px;
    margin-left: 20px;
    z-index: 3;
}

#boite6{
    position: absolute;
    height: 120px;
    width: 130px;
    background-color: red;
    border : 3px solid blue;
    margin-left: 90px;
    z-index: 1;
}