
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.AppUser {
  text-align: left;
  width: 70%;
margin: auto;
margin-top:1%;
}

.enteteNomListes{
  font-family: 'Libre Baskerville', serif;
  font-size: 42px;
  text-align: center;
}
body{ 
  background: rgb(214,240,241);
  background: linear-gradient(90deg, rgba(214,240,241,1) 0%, rgba(255,255,255,1) 50%, rgba(214,240,241,1) 100%);  }
p{
  font-family: 'Lora', serif;
 text-align: center;
 font-size: 18px;
}
th,td{
  font-family: 'Lora', serif;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
