
body {
	margin: auto;
	vertical-align: center;
	text-align: center;
	font-family:"impact",sans-serif;
	background-color: hsl(40, 100%, 55%);
	width: 80%;
}
 .body {
 font-family:"trebuchet ms",sans-serif;
 background-color:rgba(230, 230, 230,0.5);
 text-align: center;
 font-size:90%;
 }
.header{
	background-image: url("img/vect.jpg");
	color: rgb(0,0,255);
}
#gtitre{
	text-align: left;
 	font-size:80px;
}



ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}



input, textarea, select, option {
 background-color:#FFF3F3;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #D83F3D;
 cursor:pointer;
 }