:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}
.text-center{
  position: absolute;
  top: 250px;
  font-size: 21px;
  color: rgb(9, 41, 59);
 

}
.login,
.image {
  min-height: 100vh;
}

.bg-image{
  background-image: url('./img/cristina-gottardi-JqYg5nYotp0-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.login-heading {
font-family: trajan-pro-3, serif;
font-style: normal;
font-weight: 300;
color: rgb(9, 41, 59);
text-align: center;
font-size: 40px;
text-shadow: 5px 1px 5px rgba(116,122,135,0.79);
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  background-color: rgb(9, 41, 59);
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-weight: 600;
  border: none;
}
.btn-login:hover{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(9, 41, 59);
  color: rgb(9, 41, 59);;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 1rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/*LANDING PAGE*/