#conteneurListe{
    width: 1000px;
    margin: auto;
}
#resultat{
    display: none;
}
#txtReference{
    color: rgb(33, 121, 128);
}

#calcul{
    margin-top: 1%;
    margin-bottom: 2%;
}
input{
    margin-bottom: 2%;
}
#dollarVersEuros{
    margin-top:1% ;
}