#main{
    background-image: linear-gradient(to bottom right,black,#32BDBD);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}
#title{
    color: #0BCDCD;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    letter-spacing: 4px;
    margin-top: 3%;
}
#img-caption{
    color: #0BCDCD;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
}
#image{
    display: block;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
#tribute-info{
    padding-top: 3%;
    padding-left: 3%;
    color: #06E4E4;
    font-size: larger;
    font-size: 20px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 4px;
}
big{
    color: white;
}
#description{
    letter-spacing: 2px;
    width: 50%;
    margin: auto;
    text-align: left;
    font-family: 'Playfair Display', serif;
    color: white;
    margin-bottom: 5%;
}
a{
    color:white;
}
a:hover{
    color: #07E8A4;
}