table {
width: 50%;
border: 2px solid lightgray;
border-collapse: collapse;
}
th,td{
    text-align: left;
    padding-left: 2%;
    border:2px solid gray;
}
tr:nth-child(even){
    /*permet de selectionner un ou plusieurs elements en fonction de leur ordre dans la source ici tr*/
    background-color: lightgrey;
}
