
.row{
    margin: 2% 1%;
}
.list-group{
    width: 900px;
    height: 385px;
    margin-top:4%;
    margin-bottom: 2%;
}
#play{
   border:none;
}
#contenantJeu{
    margin-top: 5%;
    width: 900px;
    height: 385px;
    background-color: lavender;
    border-radius: 2%;
}
#historique{
    resize: none;
    background:none;
    border: none;
    overflow-y: auto;
    width: 80%;
    height: 20%;
}
#userInput{
    margin-top: 1%;
    width: 75%;
}
#dif {
    margin-right:3%;
}
label{
    margin-top: 2%;
}
.form-check{
margin-right: 5%;
}
#clearBtn{
    border: none;
}
#contenantJeu{
    visibility: hidden;
}
#hideThis{
    display: none;
}
h4{
    font-family: 'Luckiest Guy', cursive;
    font-size: 42px;
}